[Desktop Entry]
Encoding=UTF-8
Name=BBEE
Comment=BBEE P2P Cryptocurrency
Exec=bbee-qt %u
Terminal=false
Type=Application
Icon=bbee128
MimeType=x-scheme-handler/bbee;
Categories=Office;Finance;
Name[en_US]=bbee-qt.desktop
